@model baslangic1.Models.resim

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>resim</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.isim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.goruntu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.goruntu)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.resimId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
